@font-face {
  font-family: "Quicksand";
  src: url("./Quicksand-VariableFont_wght.ttf") format("truetype");
}

html {
  height: 100%;
  background-color: rgb(24, 78, 119);
}

body {
  font-size: 40px;
  font-family: "Quicksand", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}