.dishes, .list {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0.15em;
}

.dish, button, .list-item {
    user-select: none;
    background-color: rgb(149, 246, 233);
    padding: 0.15em;
    border-radius: 0.07em;
}

.dish, .list-item {
    display: flex;
    cursor: pointer;
    margin: 0.15em;
    box-sizing: border-box;
    width: 15em;
}

.button-box {
    width: 15em;
    text-align: left;
}

/* .dish:first-child {
    margin-top: 0.3em;
} */

.dish > span:last-child {
    flex-grow: 1;
    text-align: center;
}

.dish > span:first-child {
    width: 40%;
}

button {
    font-size: 1em;
    border: none;
    font-weight: normal;
    font-family: inherit;
    cursor: pointer;
    margin: 0.15em;
    background-color: rgb(153, 217, 140);
}