nav {
    display: flex;
    justify-content: flex-start;
    background-color: rgb(153, 217, 140);
}

nav > div {
    display: flex;
    align-items: center;
    user-select: none;
    cursor: pointer;
    height: 1.5em;
    padding: 0 0.2em;
    transition: background-color 0.1s;
}

nav > div:hover {
    background-color: rgb(141, 250, 199); /*99, 168, 123*/
}

nav > .spacer {
    flex-grow: 1;
    cursor: auto;
}

nav > .spacer:hover {
    background-color: rgb(153, 217, 140);
}